.social-projects {
padding-top: 100px;
padding-bottom: 80px;
@include tablet{
  padding-top: 140px;
  padding-bottom: 150px;
}

@include desktop{
  padding-top: 160px;
  padding-bottom: 140px;
}
  .section-title {
    margin-bottom: 12px;
    @include desktop{
      margin-bottom: 20px;
    }
  }
}
.project-block{
  width:100%;
  margin-bottom: 100px;
  &:last-child{
    margin-bottom: 0;
  }

  &__title {
    @include list-title;
    margin-bottom: 20px;
  }

  .project-cards__wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    
  }
}