
extends ../layout/main
block variable
  -
    var title_page = 'property'
    var id_page = 'id-page-property'
    var class_page = 'class-page-property'
    var headerCustomClass = 'type2' 
    var breadcrumbsSubitem = [
     
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/property.bundle.js')
block content
  section.property.page-padding.container
    h2.section-title Нерухомість
    include ../includes/breadcrumbs.pug
    form.property__form
      .select.real-estate__select-wrap(data-value="all" data-name="project")
        label(for="select3").real-estate__label Проект
        .select__header
          span.select__current Усі проекти
          <svg class="select__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.17157 7.99256L2.58203 9.41052L10.5398 17.4105L11.9503 18.8285L13.3682 17.418L17.3894 13.418L21.4105 9.41798L22.8284 8.0075L20.0074 5.17163L18.5895 6.58212L14.5684 10.5821L11.9652 13.1716L5.41794 6.58958L4.00747 5.17163L1.17157 7.99256Z" fill="#0A0D18"/>
          </svg>
        .select__body(tabindex="0")
          .select__item(data-project="111") Value 1
          .select__item(data-project="112") Value 2
          .select__item(data-project="113") Value 3
          .select__item(data-project="114") Value 4
          .select__item(data-project="115") Value 5 
          .select__item(data-project="116") Value 1
          .select__item(data-project="117") Value 2
          .select__item(data-project="118") Value 3
          .select__item(data-project="119") Value 4
          .select__item(data-project="120") Value 5 
          .select__item(data-project="121") Value 1
          .select__item(data-project="122") Value 2
          .select__item(data-project="123") Value 3
          .select__item(data-project="124") Value 4
          .select__item(data-project="125") Value 5 

      .select.real-estate__select-wrap(data-value="all" data-name="appart")
        label(for="select3").real-estate__label Тип квартири
        .select__header
          span.select__current Value 1
          <svg class="select__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.17157 7.99256L2.58203 9.41052L10.5398 17.4105L11.9503 18.8285L13.3682 17.418L17.3894 13.418L21.4105 9.41798L22.8284 8.0075L20.0074 5.17163L18.5895 6.58212L14.5684 10.5821L11.9652 13.1716L5.41794 6.58958L4.00747 5.17163L1.17157 7.99256Z" fill="#0A0D18"/>
          </svg>
        .select__body
          .select__item(data-appart="11") Value 1
          .select__item(data-appart="12") Value 2
          .select__item(data-appart="13") Value 3
          .select__item(data-appart="14") Value 4
          .select__item(data-appart="15") Value 5  

      .real-estate__select-wrap(data-name="area")
        label(for="range").real-estate__label Площа, м² 
        input(type="range" id="doubleRange" name="doubleRange" min="0" max="100" step="1").real-estate__range

      .select.real-estate__select-wrap(data-value="all" data-name="city")
        label(for="select3").real-estate__label Місто
        .select__header
          span.select__current Value 1
          <svg class="select__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.17157 7.99256L2.58203 9.41052L10.5398 17.4105L11.9503 18.8285L13.3682 17.418L17.3894 13.418L21.4105 9.41798L22.8284 8.0075L20.0074 5.17163L18.5895 6.58212L14.5684 10.5821L11.9652 13.1716L5.41794 6.58958L4.00747 5.17163L1.17157 7.99256Z" fill="#0A0D18"/>
          </svg>
        .select__body
          .select__item(data-city="1") Value 1
          .select__item(data-city="2") Value 2
          .select__item(data-city="3") Value 3
          .select__item(data-city="4") Value 4
          .select__item(data-city="5") Value 5    
      .projects__btn-wrap  
        .property__btns-wrap-center 
          button.real-estate__btn(type="submit" data-find-prperty) ШУКАТИ ПЛАНУВАННЯ
          button.real-estate__btn-reset(type="button" data-reset) 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.7462 6.89337C9.7462 6.70539 9.84387 6.47716 10.0319 6.28671C10.2203 6.09586 10.4428 6 10.6218 6H13.3731C13.5521 6 13.7746 6.09586 13.963 6.28671C14.151 6.47716 14.2487 6.70539 14.2487 6.89337V7.78674H9.7462V6.89337ZM8.7462 7.78674V6.89337C8.7462 6.38467 8.99243 5.91621 9.32027 5.58415C9.64771 5.25248 10.113 5 10.6218 5H13.3731C13.8819 5 14.3472 5.25248 14.6746 5.58415C15.0025 5.91621 15.2487 6.38467 15.2487 6.89337V7.78674H16.5828H17.5C17.7761 7.78674 18 8.0106 18 8.28674C18 8.56289 17.7761 8.78674 17.5 8.78674H17.0828V17.2275C17.0828 17.714 16.8387 18.1554 16.5224 18.4637C16.2054 18.7728 15.7584 19.0048 15.2727 19.0048H8.72209C8.23638 19.0048 7.7894 18.7728 7.47235 18.4637C7.15609 18.1554 6.91197 17.714 6.91197 17.2275V8.78674H6.49498C6.21883 8.78674 5.99498 8.56289 5.99498 8.28674C5.99498 8.0106 6.21883 7.78674 6.49498 7.78674H7.41197H8.7462ZM9.2473 8.78674L9.2462 8.78674L9.24509 8.78674H7.91197V17.2275C7.91197 17.3797 7.99537 17.577 8.17042 17.7476C8.34466 17.9175 8.55274 18.0048 8.72209 18.0048H15.2727C15.4421 18.0048 15.6501 17.9175 15.8244 17.7476C15.9994 17.577 16.0828 17.3797 16.0828 17.2275V8.78674H14.7498L14.7487 8.78674L14.7476 8.78674H9.2473ZM10.5182 10.4692C10.7943 10.4692 11.0182 10.693 11.0182 10.9692V15.6138C11.0182 15.8899 10.7943 16.1138 10.5182 16.1138C10.242 16.1138 10.0182 15.8899 10.0182 15.6138V10.9692C10.0182 10.693 10.242 10.4692 10.5182 10.4692ZM14.0182 10.9692C14.0182 10.693 13.7943 10.4692 13.5182 10.4692C13.242 10.4692 13.0182 10.693 13.0182 10.9692V15.6138C13.0182 15.8899 13.242 16.1138 13.5182 16.1138C13.7943 16.1138 14.0182 15.8899 14.0182 15.6138V10.9692Z" fill="#E99E17"/>
            </svg>
            span Очистити фільтр
    .property__container 
      .property-card 
        .property-card__img-wrap 
          img.property-card__img(src="./assets/images/projects/project1.jpg", alt="")
          a.property-card__location(href="/")
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <rect width="24" height="24" rx="6" fill="#77B551"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12 6C9.87878 6 8 7.24528 8 9.62264C8 10.1208 8.28283 10.8491 8.42424 11.1509L12 18V11.5C10.8954 11.5 10 10.6046 10 9.5C10 8.39545 10.8954 7.50003 12 7.5V6ZM12 11.5C12 11.5 12 11.5 12 11.5C13.1046 11.5 14 10.6046 14 9.5C14 8.39543 13.1046 7.5 12 7.5C12 7.5 12 7.5 12 7.5V6C14.1212 6 16 7.24528 16 9.62264C16 10.1208 15.7172 10.8491 15.5757 11.1509L12 18V11.5Z" fill="#F2F5F8"/>
            </svg>
            span м.Ірпінь
          h3.property-card__project-title жк River Port
        .property-card__info-wrap 
          .property-card__info-img-wrap  
            img(src="./assets/images/projects/interier.jpg", alt="")
          .property-card__info-text
            h4.property-card__info-title 3-кімнатна квартира
            ul.property-card__info-list
              li.property-card__info-item 
                p Загальна площа:
                  span 88,08
                  | м²
              li.property-card__info-item 
                p Житлова площа:
                  span 88,08
                  | м²
            a(href="").general-button ДИВИТИСЯ ПЛАНУВАННЯ
    .projects__btn-wrap
      button(type="button" data-more-property).general-button ПОКАЗАТИ Більше 

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
