
extends ../layout/main
block variable
  -
    var title_page = 'single-news'
    var id_page = 'id-page-single-news'
    var class_page = 'class-page-single-news'
    var headerCustomClass = 'type2' 
    var breadcrumbsSubitem = [
      {
        label: 'News',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/singleNews.bundle.js')
block content
  section.single-news
    .container--single-news 
      a(href="/").single-news__btn-back 
        .single-news__svg-wrap 
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
            <path d="M7.35686 1.5L1.35686 7.02904M1.35686 7.02904L7.35686 12.5M1.35686 7.02904C3.64258 7.02904 10.6997 7.02916 12.6426 7.02916" stroke="#0A0D18" stroke-width="1.5" stroke-linecap="square"/>
          </svg>
        span Назад
      h2.single-news__title Оголошено прийом творів на здобуття Літературної премії Ірпеня за 2022-2023 роки
      include ../includes/breadcrumbs.pug
      .news-card__header 
        .news-card__type АКЦІЯ
        .news-card__date-wrap
          <svg class="news-card__date-icon" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
            <path d="M15.9914 5.5H6.00991C5.22239 5.5 4.58398 6.13841 4.58398 6.92593V16.9074C4.58398 17.6949 5.22239 18.3333 6.00991 18.3333H15.9914C16.7789 18.3333 17.4173 17.6949 17.4173 16.9074V6.92593C17.4173 6.13841 16.7789 5.5 15.9914 5.5Z" stroke="#8E9098" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M13.75 3.66699V6.41699" stroke="#8E9098" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M8.25 3.66699V6.41699" stroke="#8E9098" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M4.58398 9.16699H17.4173" stroke="#8E9098" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          span.news-card__date 01 Лис. 2023
      .single-news__content-wrap
        p.single-news__subtitle Члену журі Літературної премії Ірпеня, професору Київського національного університету імені Тараса Шевченка, письменнику, академіку Європейської академії мистецтв та літератури Дмитру Чистяку вручено стипендію Президента України для молодих письменників і митців. Про це йдеться в Указі Президента України №837/2023 від 22 грудня 2023 року.
        p.single-news__text “Дмитро Чистяк є постійним членом журі найбільшої в Україні за розміром преміального фонду Літературної премії Ірпеня. Він також був одним із фундаторів Міжнародного перекладацького фестивалю “Кочур-Фест”, який щороку на честь видатного українського літератора Григорія Кочура проходить в Ірпені та збирає перекладачів з України та інших країн світу. Товариство «ВІДВАЖНИХ» висловлює щирі вітання Дмитру Чистяку та бажає подальшого розвитку його творчого потенціалу”, - наголосив СЕО Товариства “Відважних” Володимир Карплюк.
        img(src="./assets/images/projects/news-stock.jpg", alt="" lading="lazy").single-news__img
        .swiper-single-news 
          .swiper-news-button-wrap
            .swiper-news-button-prev 
              button 
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                  <path d="M7.35711 1.5L1.35711 7.02904M1.35711 7.02904L7.35711 12.5M1.35711 7.02904C3.64282 7.02904 10.7 7.02916 12.6428 7.02916" stroke="#0A0D18" stroke-width="1.5" stroke-linecap="square"/>
                </svg>
            .swiper-news-button-next
              button 
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                  <path d="M7.35711 1.5L1.35711 7.02904M1.35711 7.02904L7.35711 12.5M1.35711 7.02904C3.64282 7.02904 10.7 7.02916 12.6428 7.02916" stroke="#0A0D18" stroke-width="1.5" stroke-linecap="square"/>
                </svg>
          .swiper-wrapper
            .swiper-slide 
              img(src="./assets/images/projects/news-stock.jpg", alt="" lading="lazy").single-news__img
            .swiper-slide 
              img(src="./assets/images/projects/news-stock.jpg", alt="" lading="lazy").single-news__img
            .swiper-slide 
              img(src="./assets/images/projects/news-stock.jpg", alt="" lading="lazy").single-news__img
        
        p.single-news__text Нагадаємо, Літературна премія Ірпеня – щорічна всеукраїнська премія в галузі літератури, заснована 2020 року Товариством “Відважних” та Інвестиційною радою Ірпеня. Головне завдання премії – сприяти виявленню та підтримці нових талановитих авторів, стимулювати їхню творчість та мотивувати до подальшої роботи над літературними творами. Журі найбільшої в Україні Літературної премії Ірпеня очолює Олесь Доній – український журналіст, громадський та культурний діяч, голова Мистецького об'єднання «Остання Барикада».
        <iframe class="single-news__video" width="560" height="315" src="https://www.youtube.com/embed/zDQiKcHcLJw?si=joBmR3_x8L-rFkV5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        a(href="/property").general-button ПЕРЕЙТИ ДО ВИБОРУ КВАРТИР
  section.container 
    h2.single-news__title Останні новини та акції
    .single-news__container--last 
      .news-card 
          img.news-card__img(src="./assets/images/home/news1.jpg", alt="news")
          .news-card__content-wrap 
            .news-card__header 
              .news-card__type АКЦІЯ
              .news-card__date-wrap
                <svg class="news-card__date-icon" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                  <path d="M15.9914 5.5H6.00991C5.22239 5.5 4.58398 6.13841 4.58398 6.92593V16.9074C4.58398 17.6949 5.22239 18.3333 6.00991 18.3333H15.9914C16.7789 18.3333 17.4173 17.6949 17.4173 16.9074V6.92593C17.4173 6.13841 16.7789 5.5 15.9914 5.5Z" stroke="#8E9098" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13.75 3.66699V6.41699" stroke="#8E9098" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M8.25 3.66699V6.41699" stroke="#8E9098" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M4.58398 9.16699H17.4173" stroke="#8E9098" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                span.news-card__date 01 Лис. 2023
            .news-card__title Оголошено прийом творів на здобуття Літературної премії Ірпеня за 2022-2023 роки
            .news-card__descr Літературна премія Ірпеня – щорічна всеукраїнська премія у галузі літератури, заснована 2020 року товариством “Відважних” та Інвестиційною радою Ірпеня. Завдання премії – пошук нових авторів із метою їх мотивації до подальшої творчості.
            a.news-card__link ЧИТАТИ НОВИНУ
      .news-card 
          img.news-card__img(src="./assets/images/home/news1.jpg", alt="news")
          .news-card__content-wrap 
            .news-card__header 
              .news-card__type АКЦІЯ
              .news-card__date-wrap
                <svg class="news-card__date-icon" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                  <path d="M15.9914 5.5H6.00991C5.22239 5.5 4.58398 6.13841 4.58398 6.92593V16.9074C4.58398 17.6949 5.22239 18.3333 6.00991 18.3333H15.9914C16.7789 18.3333 17.4173 17.6949 17.4173 16.9074V6.92593C17.4173 6.13841 16.7789 5.5 15.9914 5.5Z" stroke="#8E9098" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M13.75 3.66699V6.41699" stroke="#8E9098" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M8.25 3.66699V6.41699" stroke="#8E9098" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M4.58398 9.16699H17.4173" stroke="#8E9098" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                span.news-card__date 01 Лис. 2023
            .news-card__title Оголошено прийом творів на здобуття Літературної премії Ірпеня за 2022-2023 роки
            .news-card__descr Літературна премія Ірпеня – щорічна всеукраїнська премія у галузі літератури, заснована 2020 року товариством “Відважних” та Інвестиційною радою Ірпеня. Завдання премії – пошук нових авторів із метою їх мотивації до подальшої творчості.
            a.news-card__link ЧИТАТИ НОВИНУ
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
