$default-font: 'PFDinDisplayPro', sans-serif;
$default-font2: 'montser', sans-serif;

$mc2: #ff554c;
$mc3: #e5df06;
$mc4: #4f90b6;
$gray: #878797;
$text: #22223e;
$wc: #fff;
$bc: #000;
$bc2: #000;

$light-color: rgba(255,255,255,1);
$bg-color: #f2f5f8;
$descr-color: #CFD2D7;
$color-gray: #8e9098;
$color-green: rgba(119,181,81,1);
$secondary-dark-color: #3e4252;
$dark-color: #0b0e19;
$accent-gradient:  linear-gradient(88deg, #B45805 -6.57%, #E38101 70.42%, #FBF157 172.41%);
$btn-gradient: linear-gradient(75deg, #B45805 -6.57%, #E38101 30.42%, rgb(251, 199, 87) 50.41%,#E38101 70.42%,#B45805 106%);
$accent-color: rgba(233,158,23,1);
@mixin section-title () {
	font-size: 36px;
	font-family: "PFDinDisplayPro";
	font-weight: 400;
	font-style: normal;
	line-height: 100%;
	text-decoration: none;
	text-transform: none;

	@include tablet {
		font-size: 48px;
	}

	@include desktop {
		font-size: 72px;
	}
}
@mixin block-title () {
	font-size: 30px;
	font-family: "PFDinDisplayPro";
	font-weight: 500;
	font-style: normal;
	line-height: 120%;
	text-decoration: none;
	text-transform: none;
	@include tablet {
		font-size: 40px;
	}

	@include desktop {
		font-size: 49px;
	}
}
@mixin list-title() {
	font-size: 24px;
	font-family: "PFDinDisplayPro";
	font-weight: 500;
	font-style: normal;
	line-height: 120%;
	text-decoration: none;
	text-transform: none;
	@include tablet {
		font-size: 30px;
	}

	@include desktop {
		font-size: 39px;
	}
}
@mixin general-text () {
	font-size: 20px;
	font-family: "PFDinDisplayPro";
	font-weight: 500;
	font-style: normal;
	line-height: 120%;
	text-decoration: none;
	text-transform: none;
	@include tablet {
		font-size: 24px;
	}

	@include desktop {
		font-size: 32px;
	}
}
@mixin descr-text() {
	font-size: 18px;
	font-family: "PFDinDisplayPro";
	font-weight: 500;
	font-style: normal;
	line-height: 120%;
	text-decoration: none;
	text-transform: none;
	

	@include desktop {
		font-size: 20px;
	}
}
@mixin small-descr-text() {
	font-size: 16px;
	font-family: "PFDinDisplayPro";
	font-weight: 400;
	font-style: normal;
	line-height: 140%;
	text-decoration: none;
	text-transform: none;
	


}
@mixin tiny-text() {
	font-size: 13px;
	font-family: "PFDinDisplayPro";
	font-weight: 500;
	font-style: normal;
	line-height: 140%;
	text-decoration: none;
	text-transform: none;

}