.notFound {
    height:100vh;
    // @include laptop {

    //     height: 100%
    // }
}

.notFound-bg {

    background-size: cover;
    padding-top: 100px;
    height:100%;
    width: 100%;
    background-image: url('../images/home/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include tablet {
        padding-top: 200px;
    }

    @include laptop {
        display: flex;
        flex-direction: row-reverse;
        
        height: 100%;
        padding-top: 130px;
    }

    @include desktop {
        padding-top: 200px;
    }
}

.notFound__text {
    

}

.notFound__title {
    width: 100%;

    // padding: 20px 10px;
    margin-bottom: 24px;

    @include tablet {
        margin-bottom: 50px;
    }

    @include laptop {
        justify-self: center;
    }

    p {
        text-align: center;
        font-size: 120px;
        line-height: 100%;
        font-weight: 400;
        color: $light-color;

        
        

        @include desktop {
            font-size: 200px;
        }
    }

    h1 {
        @include section-title;
        
        
        text-align: center;
        color: $dark-color;

        @include tablet {
            font-size: 36px;
        }

        @include laptop {
            font-size: 48px;
        }

        @include desktop {
            font-size: 60px;
        }
    }


}

.notFound-links__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    @include tablet {
        gap: 20px;
    }

    @include laptop {}

    @include desktop {}

    .notFound-link__back {
        display: flex;
        align-items: center;
        gap: 20px;

        svg {
            transform: rotate(180deg)
        }

        p {}

        @include tablet {


            svg {

                width: 35px;
                height: 45px;
            }
        }

        @include laptop {}

        @include desktop {}
    }

    .notFound-link__main {
        display: flex;
        align-items: center;
        gap: 20px;

        svg {
            transform: rotate(180deg)
        }

        p {}

        @include tablet {
            p {
                order: -1
            }

            svg {
                transform: rotate(0deg);
                width: 35px;
                height: 45px;
            }
        }
    }
}

.notFound-img-wraper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -46px;

    @include tablet {
        bottom: -69px;
    }

    @include laptop {
        width: fit-content;
        align-self: flex-end;
    }

    @include desktop {
        bottom: -98px;
    }
}

.notFound-img {
    width: 328px;
    height: 423px;

    @include tablet {
        width: 496px;
        height: 640px;
    }

    @include desktop {
        width: 698px;
        height: 902px;
    }

}

