.footer {
  padding-top :90px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) , rgba(0, 0, 0, 0.50)),url("../images/home/footer-bg.jpg");
  background-position: center;
  background-size: cover;
  @include tablet {
    padding-top: 60px;
  }

&__content-wrapper {
  display: flex;
  flex-direction: column;
  gap:40px;
  padding-bottom: 60px;

  @include tablet {
    padding-bottom: 150px;
    gap:60px;
  }
  @include laptop {
    flex-direction: row;
  }
  @include desktop {
    padding-bottom: 200px;
  }
}
&__nav {
  width: 100%;
 
  @include laptop {
    width: 50%;
  }

}
&__nav-list {
  width: 100%;
  max-height: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  column-gap: 20px;

  @include tablet {
    max-height: 160px;
    column-gap: 20px;
  }
  @include laptop {
    
  }
  @include desktop {
    max-height: 200px;
  }
}
&__nav-link {

  @include general-text;
  color: $light-color;
  
  @include laptop {
    
    transition: all 0.20s ease-in;
    overflow: hidden;
    position: relative;
    display: inline-block;
    span{
      display: inline-block;
      transition: .2s linear;
    }
    &::after{
      content: attr(data-text);
      position: absolute;
      bottom:105%;
      left:0;
      white-space: nowrap;
      transition: .2s linear;
      color: $accent-color;

    }
    &:hover {
     &::after, span {
      transform:translateY(105%) ;
     }
    }
  }}
&__contact-item {
  @include general-text;
  color: $light-color;
  margin-bottom: 20px;
  &:first-child, &:last-child {
    margin-bottom: 4px;
  }
}

.up-btn{
  position: absolute;
  top: -70px;
  display: flex;
  right: 20px;
  border-color: rgba(242, 245, 248, 0.50);
  padding: 10px;
  svg {
    width: 20px;
    height: 20px;
  }

  @include tablet {
    right: 24px;
    top: 0;
  }
  @include laptop {
    right: 60px;
  }
  @include desktop {
   
  }
}
}



.footer__bottom-block {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap:8px;
  padding-bottom: 28px;
    @include tablet {
      flex-direction: row;
      gap:0px;
      padding-bottom: 0;
    }
    
 

  .socials__list {
    
    @include tablet {
      position: absolute;
    
    left:50%;
    transform: translateX(-50%);
      top:0
    }
    
  @include laptop {
    top:-25%;
  }
  }
  .socials__link {
    border-color: $light-color;
    svg path{
      fill: $light-color;
    }
  }
}

.footer__license {
  @include small-descr-text;
  color: $color-gray;
  

  @include tablet {
    max-width: 200px;
  }

  @include laptop {
    max-width: auto;
  }
}

.dev-logo {
  position:absolute;
  bottom:0;
  right:20px;
  @include tablet {
    position:static;
  }
}