.header {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.menu-is-open {
  &.header-bg {
    &::before {
      background-color: $bg-color;
      transform: translateY(0%);}
  }
  .header__logo {
    svg path {
      fill: $dark-color;
    }
  }
  .menu-btn__burger{
    transform: rotateZ(45deg);
    .line-under{
      transform: rotateZ(-90deg) translateX(6px);
    }
    .line-over {
      transform: translateY(6px) ;
    }
  }

}
.header-bg {
  background-color: rgba(242, 245, 248, 0);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
  position: relative;
  height: 60px;
  @include laptop {
    height: 100px;
  }
  @include desktop{
  height: 120px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translateY(-100%);
    background-color: rgba(242, 245, 248, 0.9);
    transition: transform 0.3s ease-in-out;
  }
  &.scroll-down {
    @include laptop {
      height:60px;
    }
    @include desktop{
      height: 80px;
      }
    &::before {
      transform: translateY(0%);
    }
    .header__logo {
      svg path {
        fill: $dark-color;
      }
    }
  }
}

.header__logo {
  width: 143px;
  height: 39.924px;
  svg {
    width: 100%;
    height: 100%;
    path {
      fill: $light-color;
      transition: fill 0.3s ease-in-out;
    }
  }

  @include desktop {
    width: 197px;
    height: 55px;
  }
}
// .header__nav.laptop-mode {
//   position: absolute;
//   top:50%;
//   left:50%;
//   transform: translate(-50%,-50%);
// }
.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  @include tablet {
  }
  @include laptop {
  }
  @include desktop {
  }
}

.sub__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &:hover {
    .nav-popup {
      opacity: 1;
      max-height: 300px;
      visibility: visible;
      pointer-events: all;
    }
  }
  gap: 10px;
}

.nav-popup {
  width: fit-content;
  background: $light-color;
  border-radius: 6px;
  border: 1px solid $color-gray;

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  opacity: 0;
  max-height: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out, max-height 0.3s ease-in-out;

  .nav__link {
    min-width: 220px;
  }
}
.nav__link {
  @include descr-text;
  text-transform: uppercase;
  @include laptop {
    
    transition: all 0.20s ease-in;
    overflow: hidden;
    position: relative;
    display: inline-block;
    span{
      display: inline-block;
      transition: .2s linear;
    }
    &::after{
      content: attr(data-text);
      position: absolute;
      bottom:105%;
      left:0;
      white-space: nowrap;
      transition: .2s linear;
      text-decoration: underline;

    }
    &:hover {
     &::after, span {
      transform:translateY(105%) ;
     }
    }
  }
}

.header__tools-block {
  display: flex;
  gap: 8px;
  align-items: center;
  @include tablet {
    gap: 20px;
  }
  @include laptop {
    gap: 12px;
  }
  @include desktop {
    gap: 20px;
  }

}
.language__wrap {
  width: 42px;
  height: 42px;
  position: relative;
}
.language__list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid $dark-color;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;

  width: 42px;
  max-height: 42px;

  &:hover {
    max-height: 100px;
  }
}
.language__item {
  z-index: 2;

  @include small-descr-text;

  color: $dark-color;
  border-radius: 6px;
  transition: color 0.25s ease-in-out;
  &.active  {
    pointer-events: none;
  }
  a {
    display: block;
    padding: 10px;
  }
  &:hover {
    color: $light-color;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 42px;
    border-radius: 6px;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    z-index: -1;
    background: $accent-gradient;
    pointer-events: none;
    opacity: 0;
    transform: translateY(100%);
  }
  &:first-child:hover {
    &::before {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  &:nth-child(2):hover {
    &::before {
      opacity: 1;
      transform: translateY(102%);
    }
  }
}

.contact-phone {
  @include descr-text;
  display: none;
  @include tablet {
    display: block;
  }
  @include laptop {
    display: none;
  }
  @include desktop {
    display: block;
  }
}

.general-button {
  @include small-descr-text;
  padding: 10px 20px;
  color: $light-color;
  border-radius: 6px;
  border: 1px solid $accent-color;
  background: $btn-gradient;
  text-transform: uppercase;
  background-position-x: 0%;
  background-size: 250% 100%;
  transition: background-position-x 0.4s ease-in-out;
  width:fit-content;
  &:hover {
    background-position-x: 100%;
  }
}

.socials__list {
  display: flex;
  align-items: center;
  gap: 1px;
  .socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 0.75px solid $dark-color;
    transition: border-color 0.3s ease-in-out;
    width: 42px;
    height: 42px;
    svg path {
      transition: fill 0.3s ease-in-out;
      fill: $dark-color;
    }
    svg {
      transition: transform 0.3s ease-in-out 0.1s;
    }
    &:hover {
      border-color: $accent-color;
      svg path {
        fill: $accent-color;
      }
      svg {
        transform: scale(1.3);
      }
    }
  }
}

.projects__btn-wrap {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  width: 100%;
}

.menu-btn {
  width: 42px;
  height: 42px;
  background: $accent-gradient;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;

  @include laptop {
    display: none;
  }
}

.menu-btn__burger {
  height: 3px;
  width: 28px;
  background-color: $light-color;
  position: relative;
  transition: transform 0.3s ease-in-out;

  & .line-over {
    position: absolute;
    display: block;
    height: 3px;
    top: -6px;
    left: 0;
    width: 54%;
    background-color: inherit;
    transition: transform 0.3s ease-in-out;
  }

  & .line-under {
    position: absolute;
    display: block;
    height: 3px;
    bottom: -6px;
    left: 0;
    width: 100%;
    background-color: inherit;
    transition: transform 0.3s ease-in-out;
  }
}
.contact-btn {
  display: flex;
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  background: $accent-gradient;
  transition: all 0.25s ease-in-out ;
  &:hover {
    border-color: $accent-color;
    background: $accent-gradient;
    &>svg path {
      fill:$light-color;
    }
    .nav-popup {
      opacity: 1;
      max-height: 300px;
      visibility: visible;
      pointer-events: all;
    }
  }
  @include tablet {
    display: none;
  }
  @include laptop {
    display: flex;
    order: 4;
    background: transparent;
    border: 1px solid $dark-color;
    svg path {
      fill: $dark-color;
    }
  }
  @include desktop {
    display: none;
  }
  .nav-popup {
    max-height: 1000px;
    gap:0;
    right: 0;
    left: auto;
    transform: translate(0, 0);
  }

  .contact-block__label {
    color: $dark-color;
    margin-bottom: 4px;
  }
  .socials__list {
    margin-bottom: 20px;
  }
  .contact-block__phones {
    margin-bottom: 20px;
    @include laptop {
      margin-bottom: 0;
    }
  }
  .contact-block__text,.call-back {
    white-space: nowrap;
  }
}
//menu starts
.menu__container {
  background: $bg-color;
  position: fixed;
  width:100%;
  height:100%;
  z-index: 50;
  pointer-events: all;
    opacity:1;
    visibility: visible;
  transition: transform 0.4s cubic-bezier(.83,1.62,0,.71), opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
  &.hidden{
    transform:translateX(100%);
    pointer-events: none;
    opacity:0;
    visibility: hidden;


  }

  .menu__bg {
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:20px;
  width:100%;
  height:100%;
  overflow: auto;
  
  padding-top: 30px;
  padding-bottom: 100px;
 
  
  
  @include tablet {
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: row;}
  }
  nav {
    flex:1;
  }
  .nav__list{
    flex-direction: column;
    align-items: flex-start;
    gap:20px;

  }
  .nav__link {
    font-size: 24px;
    @include tablet{
      font-size: 30px;
    }
   
  }

 
}

.menu__contacts{
  flex:1;
  display: flex;
  flex-direction: column;
  gap:20px;

  .contact-block__label{
    color:$dark-color;
  }
  .contact-block__address-content {
    flex-direction: column;
    align-items: flex-start;
  }
}
//menu ends





.type2 {
  .header__logo {
    svg path {
      fill: $dark-color;
    }
  }
}

.mobile-mode {
  @include laptop {
    display: none;
  }
}
.tablet-mode {
  display: none;
  @include tablet {
    display: flex;
  }
}
.laptop-mode {
  display: none;
  @include laptop {
    display: flex;
  }
}
.desktop-mode {
  display: none;
  @include desktop {
    display: flex;
  }
}

.link-hover{
  position:relative;
  width: fit-content;

  &:hover {
    &::before {
      transform: scaleX(1) translateX(0);
    }
  }
  &::before {
    content: "";
    z-index: 2;
    position: absolute;
    display: block;
    height:1px;
    width:100%;
    top:100%;
    left:0;

    transform: scaleX(0) translateX(-50%);
    background-color: $dark-color;
    transition:transform 0.2s ease-in-out;
  }

}
.link-hover--light {
  @extend .link-hover;
  &::before {
    background-color: $light-color;
}}

.loading {
    filter:blur(5px)
  }

.no-result {
  @include block-title;
  padding: 40px;
  text-align: center;
  width:100%;

}
.class-page-single-projects {
  .header-bg {
    background: linear-gradient(rgba(242, 245, 248, 0.9), rgba(255, 255, 255, 0) 100% );
  }
}