@import './assets/vars'; // переменные
@import './assets/smart-grid'; // mixins smartgrid.js


@import './libs';


// assets
@import './assets/mixins'; // миксины
@import './common/container.scss';
@import './assets/fonts'; // шрифты
@import './assets/base'; // общие стили
@import './assets/animation'; // анимации
@import './assets/loader.scss';
@import './thank-you-popup.scss';

@import './assets/interface'; // main style
@import './assets/breadcrubs'; // main style
@import './assets/templates.scss';
// includes
@import './header';
@import './footer';
@import './404';
@import './includes/navigation.scss';

@import '../../pug/components/form/form';
@import '../../pug/components/toster/toster';